<a href="https://colab.research.google.com/github/sundarjhu/AaduPaambe/blob/main/Discussion02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## For a very exhaustive beginner tutorial: [Corey Schafer](https://www.youtube.com/watch?v=YYXdXT2l-Gg&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7)

# Lists

In [32]:
firstnames = ['Alexander', 'Ayub', 'Bobby', 'Derick', 'Elias']
lastnames = ['Menon', 'Sayyed', 'Namboodhiri', 'Menon', 'Reddy']

for f in firstnames:
  print("My first name is not {}".format(f))

for f, n in zip(firstnames, lastnames):
  print("My full name is not {} {}".format(f, n))

My first name is not Alexander
My first name is not Ayub
My first name is not Bobby
My first name is not Derick
My first name is not Elias
My full name is not Alexander Menon
My full name is not Ayub Sayyed
My full name is not Bobby Namboodhiri
My full name is not Derick Menon
My full name is not Elias Reddy

## List comprehension

In [53]:
fullnames = [f + ' ' + n for f, n in zip(firstnames, lastnames)]

allcapslastnames = [l.upper() for l in lastnames] # l.lower() for lower case.
print(allcapslastnames)

['MENON', 'SAYYED', 'NAMBOODHIRI', 'RATHOD', 'REDDY', 'PANDIYAN', 'PUNNOOSE', 'BOSE']

In [34]:
dir(firstnames)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [35]:
firstnames.__contains__('Ayub')

True

In [36]:
firstnames.insert(3, 'Alien')
lastnames.insert(3, 'Rathod')

firstnames.pop(4)
lastnames.pop(4)

firstnames.append('Gustavo')
lastnames.append('Pandiyan')

firstnames_new = ['Jason', 'Alexander', 'Chammaiyya']
lastnames_new = ['Gundappa', 'Punnoose', 'Bose']

firstnames.extend(firstnames_new)
lastnames.extend(lastnames_new)

In [37]:
print(firstnames)

['Alexander', 'Ayub', 'Bobby', 'Alien', 'Elias', 'Gustavo', 'Jason', 'Alexander', 'Chammaiyya']

In [38]:
firstnames.count('Alexander')

2

In [39]:
idx = firstnames.index('Jason')
_ = firstnames.pop(idx)
_ = lastnames.pop(idx)

In [42]:
LastNames = lastnames.copy()
LastNames.sort()
print(LastNames)

LastNames.reverse()
print(LastNames)

['Bose', 'Menon', 'Namboodhiri', 'Pandiyan', 'Punnoose', 'Rathod', 'Reddy', 'Sayyed']
['Sayyed', 'Reddy', 'Rathod', 'Punnoose', 'Pandiyan', 'Namboodhiri', 'Menon', 'Bose']

## Indexing and slicing

In [51]:
print("The list has {} names".format(len(firstnames)))

# This will print elements with indices starting at 3 up to BUT EXCLUDING 7
print("A slice from this list: {}".format(firstnames[3:7]))

# This will print elements in steps of 3
print("Every third name in the list: {}".format(firstnames[::3]))

# This will reverse the list in place
print("List in reverse order: {}".format(firstnames[::-1]))

The list has 8 names
A slice from this list: ['Alien', 'Elias', 'Gustavo', 'Alexander']
Every third name in the list: ['Alexander', 'Alien', 'Alexander']
List in reverse order: ['Chammaiyya', 'Alexander', 'Gustavo', 'Elias', 'Alien', 'Bobby', 'Ayub', 'Alexander']

## Iterators in python
>### HEY YOU! DON'T WATCH THAT, [WATCH THIS](https://youtu.be/C_rhipZonok?list=PL98qAXLA6afuh50qD2MdAj3ofYjZR_Phn)!