<a href="https://colab.research.google.com/github/sundarjhu/AaduPaambe/blob/main/Discussion02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## For a very exhaustive beginner tutorial: [Corey Schafer](https://www.youtube.com/watch?v=W8KRzm-HUcc&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7&index=4)

## Define the class from last time for use in today's examples

In [103]:
class Person():
  """
  Instantiates a Person class with some attributes
  """

  def __init__(self, Name: str = None, Age: int = None, Weight: float = None, Height: float = None) -> None:
    """
    __init__ method for the Person class
    Parameters
    ----------
    Name: str
      Name of person. Defaults to None.
    Age: int
      Age of person in years. Defaults to None.
    Weight: float
      Weight of person in kg. Defaults to None.
    Height: float
      Height of person in m. Defaults to None.

    Returns
    -------
    """
    self.name = Name
    self.age = Age
    self.weight = Weight
    self.height = Height
  
  def bmi(self) -> float:
    """
    Set the body mass index attribute for an instance of the Person class.
    The BMI is set according to bmi = weight / height**2
    Parameters
    ----------
    self: class
      an instance of the Person class
    Returns
    -------
    self.bmi: float
      The body mass index in kg/m**2 if self.weight and self.height are not None.
      Defaults to None.
    """
    if (self.weight is not None) and (self.height is not None):
      return self.weight / self.height**2
    else:
      return None

# Lists (and tuples and sets)

>### `list` -- ordered, repeated data in a mutable structure
>### `tuple` -- ordered, repeated data in an immutable structure
>### `set` -- unordered, unduplicated data

In [108]:
firstnames = ['Alexander', 'Ayub', 'Bobby', 'Derick', 'Elias']
lastnames = ['Menon', 'Sayyed', 'Namboodhiri', 'Menon', 'Reddy']

for f in firstnames:
  print("My first name is not {}".format(f))

fullnames = []
for f, n in zip(firstnames, lastnames):
  fullnames.append(f + ' ' + n)
  print("My full name is not {} {}".format(f, n))

print(fullnames)
del(fullnames)

My first name is not Alexander
My first name is not Ayub
My first name is not Bobby
My first name is not Derick
My first name is not Elias
My full name is not Alexander Menon
My full name is not Ayub Sayyed
My full name is not Bobby Namboodhiri
My full name is not Derick Menon
My full name is not Elias Reddy
['Alexander Menon', 'Ayub Sayyed', 'Bobby Namboodhiri', 'Derick Menon', 'Elias Reddy']

### Check for membership

In [105]:
print('Alexander' in firstnames)
print('Porkaas' in firstnames)

True
False

### Lists and sets can be heterogeneous

In [106]:
Abhinav = Person('SuperSuar', 25, 100, 0.65)
Het_List = [1, firstnames[1], Abhinav, ['a', 'b', 'c']]
for hl in Het_List:
  print(type(hl))

<class 'int'>
<class 'str'>
<class '__main__.Person'>
<class 'list'>

### Converting between `string` and `list` aka how Sundar generates CSV files

In [107]:
# Use the str.join() method to combine elements in a list with a specified separator
allnames = ', '.join(firstnames)
print(allnames)

# Split a string into a list of substrings by separating using a specified separator
print(allnames.split(', '))

Alexander, Ayub, Bobby, Derick, Elias
['Alexander', 'Ayub', 'Bobby', 'Derick', 'Elias']

## List comprehension

In [110]:
# Long version
fullnames = []
for f, n in zip(firstnames, lastnames):
  fullnames.append(f + ' ' + n)
  print("My full name is not {} {}".format(f, n))

# Short version
fullnames = [f + ' ' + n if 'Alexander' in f else '' for f, n in zip(firstnames, lastnames)]
print(fullnames)

allcapslastnames = [l.upper() for l in lastnames] # l.lower() for lower case.
print(allcapslastnames)

My full name is not Alexander Menon
My full name is not Ayub Sayyed
My full name is not Bobby Namboodhiri
My full name is not Derick Menon
My full name is not Elias Reddy
['Alexander Menon', '', '', '', '']
['MENON', 'SAYYED', 'NAMBOODHIRI', 'MENON', 'REDDY']

##List methods

In [ ]:
dir(firstnames)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [111]:
print(firstnames.__contains__('Ayub'))
print('Ayub' in firstnames)
print(firstnames.count('Alexander'))

True
True
1

In [118]:
# How does __contains__ work with classes?
aragorn = Person('Aragorn', 300, 100, 1.5)
clist = [aragorn, Person('Arwen', 1200, 90, 1.2), 
         Person('Bilbo', 111, 45, 0.70)]
print(clist.__contains__(aragorn))
Person('Aragorn') in clist

True

False

In [ ]:
# inserting individual elements
firstnames.insert(3, 'Alien')
lastnames.insert(3, 'Rathod')

# removing elements referring to them by their value
#   CAUTION! Will only remove first instance!
firstnames.remove('Alexander')
lastnames.remove('Menon')
# removing individual elements by their index
print("Removing {} from firstnames.".format(firstnames.pop(4)))
print("Removing {} from lastnames.".format(lastnames.pop(4)))
#### `pop` without an argument removes the last element -- stack-like

# same as inserting one element at the end
firstnames.append('Gustavo')
lastnames.append('Pandiyan')

# can we use `insert` or `append` to add multiple elements?
tryball = firstnames.copy() # ACCOUNTING FOR MUTABILITY
firstnames_new = ['Jason', 'Alexander', 'Chammaiyya']
lastnames_new = ['Gundappa', 'Punnoose', 'Bose']
# let's try `insert` first
tryball.insert(2, firstnames_new)
print(tryball)
tryball.pop(2)
# `append` has the same effect
tryball.append(firstnames_new)
print(tryball)
# this is why we need the `extend` method
firstnames.extend(firstnames_new)
lastnames.extend(lastnames_new)
print(firstnames)

Removing Derick from firstnames.
Removing Pandiyan from lastnames.
['Ayub', 'Bobby', ['Jason', 'Alexander', 'Chammaiyya'], 'Alien', 'Alien', 'Gustavo', 'Jason', 'Chammaiyya', 'Gustavo']
['Ayub', 'Bobby', 'Alien', 'Alien', 'Gustavo', 'Jason', 'Chammaiyya', 'Gustavo', ['Jason', 'Alexander', 'Chammaiyya']]
['Ayub', 'Bobby', 'Alien', 'Alien', 'Gustavo', 'Jason', 'Chammaiyya', 'Gustavo', 'Jason', 'Alexander', 'Chammaiyya']

In [ ]:
firstnames.count('Alexander')

1

In [ ]:
idx = firstnames.index('Jason')
_ = firstnames.pop(idx)
_ = lastnames.pop(idx)

In [ ]:
LastNames = lastnames.copy()
# the following returns a sorted version without overwriting
#   original list
print(sorted(LastNames))
print(sorted(LastNames, reverse = True))

# the following method sorts in place
LastNames.sort()
print(LastNames)

# return a reversed version without overwriting original list
print(LastNames[::-1]) # see indexing and slicing below
print(LastNames)
# reverse in place
LastNames.reverse()
print(LastNames)

['Bose', 'Bose', 'Gundappa', 'Gundappa', 'Namboodhiri', 'Pandiyan', 'Punnoose', 'Punnoose', 'Rathod', 'Rathod', 'Sayyed']
['Sayyed', 'Rathod', 'Rathod', 'Punnoose', 'Punnoose', 'Pandiyan', 'Namboodhiri', 'Gundappa', 'Gundappa', 'Bose', 'Bose']
['Bose', 'Bose', 'Gundappa', 'Gundappa', 'Namboodhiri', 'Pandiyan', 'Punnoose', 'Punnoose', 'Rathod', 'Rathod', 'Sayyed']
['Sayyed', 'Rathod', 'Rathod', 'Punnoose', 'Punnoose', 'Pandiyan', 'Namboodhiri', 'Gundappa', 'Gundappa', 'Bose', 'Bose']
['Bose', 'Bose', 'Gundappa', 'Gundappa', 'Namboodhiri', 'Pandiyan', 'Punnoose', 'Punnoose', 'Rathod', 'Rathod', 'Sayyed']
['Sayyed', 'Rathod', 'Rathod', 'Punnoose', 'Punnoose', 'Pandiyan', 'Namboodhiri', 'Gundappa', 'Gundappa', 'Bose', 'Bose']

## Indexing and slicing

In [ ]:
print("The list has {} names".format(len(firstnames)))

#Access individual elements based on their location from either the beginning or the end
print("The third name in the list is", firstnames[2])
print("The third name in the list, accessed from the end, is", firstnames[-len(firstnames) + 2])

# This will print elements with indices starting at 3 up to BUT EXCLUDING 7
print("A slice from this list: {}".format(firstnames[3:7]))

# The following lines have the same result (you can omit 0)
print("The first three elements are {}".format(firstnames[0:4]))
print("The first three elements are {}".format(firstnames[:4]))

# Because of the way that slices are specified,
#   the following lines will have differing results
print("The last two elements are {}".format(firstnames[-3:-1]))
print("The last three elements are {}".format(firstnames[-3:]))

# This will print elements in steps of 3
print("Every third name in the list: {}".format(firstnames[::3]))

# This will reverse the list in place
print("List in reverse order: {}".format(firstnames[::-1]))

The list has 8 names
The third name in the list is Bobby
The third name in the list, accessed from the end, is Bobby
A slice from this list: ['Alien', 'Elias', 'Gustavo', 'Alexander']
The first three elements are ['Alexander', 'Ayub', 'Bobby', 'Alien']
The first three elements are ['Alexander', 'Ayub', 'Bobby', 'Alien']
The last two elements are ['Gustavo', 'Alexander']
The last three elements are ['Gustavo', 'Alexander', 'Chammaiyya']
Every third name in the list: ['Alexander', 'Alien', 'Alexander']
List in reverse order: ['Chammaiyya', 'Alexander', 'Gustavo', 'Elias', 'Alien', 'Bobby', 'Ayub', 'Alexander']

### The enumerate method for iterators (lists, tuples, sets, arrays, ....)

In [ ]:
# Introducting the `range` function
start = 0 # default
stop = 10 # the only required argument
step = 1 # default
for i in range(start, stop, step):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for index, name in zip(range(len(firstnames)), firstnames):
  print("Name #{} is {}".format(index + 1, name))

for index, name in enumerate(firstnames):
  print("Name #{} is {}".format(index + 1, name))

for index, name in enumerate(firstnames, start = 2):
  print("Name #{} is {}".format(index + 1, name))

Name #1 is Ayub
Name #2 is Bobby
Name #3 is Alien
Name #4 is Alien
Name #5 is Gustavo
Name #6 is Jason
Name #7 is Chammaiyya
Name #8 is Gustavo
Name #9 is Jason
Name #10 is Alexander
Name #11 is Chammaiyya
Name #1 is Ayub
Name #2 is Bobby
Name #3 is Alien
Name #4 is Alien
Name #5 is Gustavo
Name #6 is Jason
Name #7 is Chammaiyya
Name #8 is Gustavo
Name #9 is Jason
Name #10 is Alexander
Name #11 is Chammaiyya
Name #3 is Ayub
Name #4 is Bobby
Name #5 is Alien
Name #6 is Alien
Name #7 is Gustavo
Name #8 is Jason
Name #9 is Chammaiyya
Name #10 is Gustavo
Name #11 is Jason
Name #12 is Alexander
Name #13 is Chammaiyya

## Iterators in python
>### HEY YOU! DON'T WATCH THAT, [WATCH THIS](https://youtu.be/C_rhipZonok?list=PL98qAXLA6afuh50qD2MdAj3ofYjZR_Phn)!

### Creating empty `list`, `tuple`, `set`

In [ ]:
lst = []
tpl = ()
st = set() # not {} begays that will define an empty dictionary!

# Next episode: dictionaries